Repository GilbertGobbels/GAwesomeBot, pull requests merged in 2018-04, with the labels that each got.

#243 Add info/serverinfo command
  Commands/Public/info.js
  Configurations/commands.js
  Internals/Constants.js
  Modules/Utils/index.js
Labels: feature: Commands, s: In Progress, type: Feature

#250 Add more precise duration to year command
  Commands/Public/year.js
Labels: feature: Commands, meta: Refactor, type: Enhancement

#248 Fix "invisible" status not working on maintainer bot user page
  Web/views/pages/maintainer-bot-user.ejs
Labels: feature: Web Interface, type: Bugfix

#259 Add human-readable warning if executed command is not implemented yet
  Internals/Events/message/GAB.MessageCreate.js
Labels: feature: Internal, type: Enhancement

#252 Add urban command
  Commands/Public/urban.js
  Internals/Constants.js
  package.json
Labels: feature: Commands, type: Feature

#251 Messages command and remove unused "server" argument in client.getName
  Commands/Public/avatar.js
  Commands/Public/ban.js
  Commands/Public/giveaway.js
  Commands/Public/lottery.js
  Commands/Public/messages.js
  Commands/Public/ranks.js
  Internals/Client.js
  Internals/Events/guildMemberAdd/GAB.GuildMemberAdd.js
  Internals/Events/message/GAB.AFKHandler.js
  Internals/Events/message/GAB.MessageCreate.js
  Internals/Events/message/GAB.SpamHandler.js
  Modules/Giveaways.js
  Modules/Lotteries.js
  Modules/Trivia.js
  Modules/Utils/GetFlagForRegion.js
  Modules/Utils/RemoveFormatting.js
  Modules/Utils/index.js
  Web/controllers/dashboard/other.js
Labels: feature: Commands, feature: Internal, meta: Cleanup, type: Feature

#268 Add reddit command
  Commands/Public/reddit.js
  Internals/Constants.js
  Modules/MessageUtils/PaginatedEmbed.js
  Modules/Utils/IsURL.js
  Modules/Utils/index.js
Labels: feature: Commands, type: Feature

#276 Speedwhore ala Vlag
  Modules/Utils/StructureExtender.js
Labels: type: Enhancement

#279 Add roll command
  Commands/Public/roll.js
Labels: feature: Commands, type: Enhancement

#274 Add imgur command
  Commands/Public/imgur.js
  Configurations/commands.js
  Modules/Imgur.js
Labels: feature: Commands, type: Feature

#273 Add wiki command
  Commands/Public/wiki.js
Labels: feature: Commands, type: Feature
