Repository GilbertGobbels/GAwesomeBot, pull requests merged in 2018-12, with the labels that each got.

#382 Make shardTotal message fit to other messages
  master.js
Labels: type: Enhancement

#394 Add roleinfo command
  Commands/Public/roleinfo.js
  Modules/Utils/TitlecasePermissions.js
  Modules/Utils/index.js
Labels: s: Committed, target: Commands, type: Feature

#396 :sparkles: Joke command
  Commands/Public/e621.js
  Commands/Public/joke.js
  Internals/Constants.js
  Internals/Events/message/GAB.MessageCreate.js
  Modules/Utils/GitHubGist.js
  Modules/Utils/SearchiTunes.js
  package-lock.json
  package.json
Labels: s: Awaiting Feedback, target: Commands, type: Feature

#398 :sparkles: Numfact command
  Commands/Public/numfact.js
  Internals/Constants.js
Labels: s: Awaiting Feedback, target: Commands, type: Feature

#399 room & remindme commands
  Commands/Public/remindme.js
  Commands/Public/room.js
  Configurations/commands.js
  Database/Schemas/serverConfigSchema.js
  Internals/Constants.js
  Modules/Updater.js
Labels: s: In Progress, target: Commands, type: Feature, version: Minor

#283 Rework paginated embed
  Commands/Private/poll.js
  Commands/Public/catfact.js
  Commands/Public/count.js
  Commands/Public/countdown.js
  Commands/Public/dogfact.js
  Commands/Public/e621.js
  Commands/Public/poll.js
  Commands/Public/reddit.js
  Commands/Public/tag.js
  Commands/Public/urban.js
  Modules/MessageUtils/PaginatedEmbed.js
  Modules/Polls.js
Labels: meta: Cleanup, meta: Code style, meta: Refactor, type: Enhancement

#408 :sparkles: Reason command
  Commands/Public/reason.js
  Modules/ModLog.js
Labels: s: Awaiting Feedback, target: Commands, type: Feature

#409 :sparkles: Unban command
  Commands/Public/ban.js
  Commands/Public/unban.js
Labels: s: Awaiting Feedback, target: Commands, type: Feature

#416 xkcd command
  Commands/Public/xkcd.js
  Internals/Console.js
  Internals/Constants.js
Labels: s: Awaiting Feedback, target: Commands, type: Feature

#413 :sparkles: ModLog command
  Commands/Public/modlog.js
  Modules/ModLog.js
Labels: s: Awaiting Feedback, target: Commands, type: Feature

#414 :sparkles: Kick command
  Commands/Public/ban.js
  Commands/Public/kick.js
  Internals/Client.js
Labels: s: Awaiting Feedback, target: Commands, type: Feature

#426 :sparkles: Translate command
  Commands/Public/translate.js
  Configurations/commands.js
  Web/middleware/index.js
Labels: s: Awaiting Feedback, target: Commands, type: Feature
