Repository GilbertGobbels/GAwesomeBot, pull requests merged in 2018-03, with the labels that each got.

#214 Improve games command, add total game count and playtime
  Commands/Public/games.js
Labels: feature: Commands, meta: Cleanup, meta: Refactor, type: Enhancement

#215 ♻️ Turn Wasdennnoch's forEach into a reduce
  Commands/Public/games.js
Labels: feature: Commands, meta: Cleanup, meta: Code style, type: Enhancement

#218 Ping command! That actually shows the ping!
  Commands/Public/ping.js
Labels: feature: Commands, type: Enhancement
