Repository GilbertGobbels/GAwesomeBot, pull requests merged in 2019-01, with the labels that each got.

#429 :sparkles: list command
  Commands/Public/list.js
  Database/Query.js
  Database/Schemas/Schema.js
  Database/Schemas/serverConfigSchema.js
Labels: s: Awaiting Feedback, target: Commands, type: Feature

#435 Fix: Discord logo
  Web/views/pages/landing.ejs
Labels: reason: Bug, s: Fixed, target: Web, type: Bugfix

#431 :sparkles: Mute & Unmute commands!
  Commands/Public/mute.js
  Commands/Public/unmute.js
  Internals/Client.js
Labels: s: Awaiting Feedback, target: Commands, type: Feature

#436 Add support for Urban Dictionary links within definitions
  Commands/Public/urban.js
Labels: s: Committed, target: Commands, type: Enhancement

#437 Fix formatting character escaping in urban command
  Commands/Public/urban.js
Labels: reason: Bug, s: Committed, target: Commands, type: Bugfix
